<!DOCTYPE html>
<html>
  <head>
    <title>Portfolio2</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>
    <%= render 'partials/navbar' %>
    <%= yield %>
    <script type="text/javascript">
    var outer = document.getElementById('outer'), cover = document.getElementById('cover'), counter = 0;

window.onload = function() {
cover.addEventListener('click', opener);
}

function opener() {
counter++;
if(counter % 2 !== 0) {
  outer.classList.add('isOpen');
} else if(counter % 2 == 0) {
  outer.classList.remove('isOpen');
}
}
    </script>
  </body>
</html>
